nav {
    min-width: 15%;
    width: 15%;
    height: 100%;
    border-radius: 8px;
    background-color: #202128;
    padding: 24px 0;

    .sites {
        height: calc(100% - 48px);
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 30px;
            height: 60px;
            text-align: center;
            font-size: 17px;
            font-weight: 700;
            color: #9696A2;
    
            &:hover {
                background: rgba(83, 85, 103, 0.10);
            }
    
            &.active {
                color: #fff;
                background: linear-gradient(90deg, rgba(83, 85, 103, 0.20) 0%, rgba(83, 85, 103, 0.10) 52.23%);
    
                .trapezoid {
                    display: block;
                }
            }
    
            .trapezoid {
                display: none;
                position: absolute;
                left: 0;
                height: 100%;
            }

            .icon {
                width: 40px;
                margin-right: 20px;
            }
        }
    }

    .toolbar {
        display: flex;
        justify-content: flex-end;
        padding: 24px;

        img {
            height: 20px;
            margin-left: 20px;
            cursor: pointer;
        }
    }
}